{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href={% static "assets/css/bootstrap.min.css" %} />
    <link rel="stylesheet" href={% static "assets/css/style.css" %} />
    <link rel="stylesheet" href={% static "assets/css/responsive.css" %} />
{% endblock style %}
{% block body_attrs %}
    style="background-color: var(--theme-light);"
{% endblock body_attrs %}
{% block header %}
    <header class="header-area">
        <div class="container-fluid">
            <div class="header-content">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3 col-6">
                        <div class="logo">
                            <a href={% url 'index' %}>
                                <img src={% static "assets/img/Logo.svg" %} alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="header-btn text-end">
                            {% if request.user.is_authenticated %}
                                <a href={% url 'index_usuario' %} class="site-btn">Dashboard</a>
                            {% else %}
                                <a href={% url 'login' %} class="site-btn">Entrar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
    <section class="result-area section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-6">
                    <div class="result-box">
                        <div class="section-content">
                            <h4>Resultado da Consulta</h4>
                            <div class="alert-box mb-4 mt-4">
                                <img src={% static "assets/img/alert.svg" %} alt="" />
                                {{ mensagem }}
                            </div>
                            <a href="https://www.sispar.sjc.br/" class="site-btn w-100">Nova Consulta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block script %}
    <script src={% static "assets/js/main.js" %}></script>
{% endblock script %}
